PORT=<port>

# "local" = your laptop using your private mailbox via authenticated SMTP
# "server" = on your server using local Postfix (DKIM, SPF/DMARC by your domain)
MODE=<local|server>

# Local mode (your private mailbox)
LOCAL_FROM=<your@mail.domain>
LOCAL_SMTP_HOST=<smtp.mail.domain>
LOCAL_SMTP_PORT=<smtp-port>
LOCAL_SMTP_USER=<your@mail.domain>
LOCAL_SMTP_PASS=<password>
LOCAL_SMTP_SECURITY=<starttls|ssl>   

# Server mode (use server's Postfix)
SERVER_FROM=<your@mail.domain>

# Seafile 
USE_SEAFILE=False
SEAFILE_BASE=https://docs.fux-1789.org
SEAFILE_REPO_ID=<repro-id>
SEAFILE_USER=<user>
SEAFILE_PASS=<password>

