{% if text|length == 0 %}
  <p class="small">
    <i>{{desc}}</i>
  </p>
{% endif %}
<div 
  id="{{id}}_input" style="margin-top:-2em; {%- if text|length > 0 -%}display: none;{%- endif -%}"
>
  <form action="/entry/{{user.key}}/update/{{id}}" method="post">
    {% set label=elabel %}
    {% set field=id %}
    {% set value=text %}
    {% include "forms/textarea.html" %}

    {% set label="update" %}
    {% set type="submit" %}
    {% include "forms/button.html" %}
  </form>
</div>
<div id="{{id}}_text" style="{%- if text|length == 0 -%}display: none;{%- endif -%}">
  <p>Deine {{elabel}}: <i>{{text}}</i></p>
  {% set label="edit" %}
  {% set onclick="Edit('" + id + "');" %}
  {% include "forms/button.html" %}
</div>

