{% extends "layout.html" %} 
{% block body %}

<p class="small">{{user.key}}</p>

{% if user.name|length == 0 %}
  <p class="small">
    <i>Sag uns wie du wirklich heißt.</i>
  </p>
  <form action="/entry/{{user.key}}/update/name" method="post" style="margin-top:-2em;">
    {% set label="Name" %}
    {% set field="name" %}
    {% set type="text" %}
    {% set title="Ja, wir brauchen hier deinen 'echten' Rufnamen" %}
    {% include "forms/input.html" %}

    {% set label="update" %}
    {% set type="submit" %}
    {% include "forms/button.html" %}
  </form>
{% else %}
  <p class="small">Name: {{user.name}}</p>
{% endif %}

<p>Hier werden demnächst noch mehr Fragen auftauchen, insbesondere einige
Monate vor dem Spiel der Fragebogen zur Charakterverteilung. Über alle
Änderungen wirst du per E-Mail informiert.</p>

<h2>Erfahrungen</h2> 
<p>Wir möchten dich gerne nach ein paar Erfahrungen fragen. Lass dir Zeit beim Schreiben,
genieße es, erforsche deine Erinnerungen, lass die Sprache in der du
schreibst, deine Erfahrungen spiegeln <span>&#8212;</span> wenn du magst. Du
hast bis Pfingsten Zeit.</p>
<p class="small">[Alles was du hier schreibst kann potentiell
<span>&#8212;</span> in leicht veränderter Form <span>&#8212;</span> im Spiel
erscheinen.]</p> 

<h4>Natur/Körper-Erfahrungen</h4>
<h6>Positiv</h6>
{% set desc="Nenne uns eine positive Natur/Körper-Erfahrung: Ein Sturm, ein
Waldspaziergang, die Begegnung mit einem Vogel in den Bergen, das Gefühl zu
fliegen." %}
{% set text=user.pnature %}
{% set id="pnature" %}
{% set elabel="Positive Natur-Erfahrung" %}
{% include "forms/erfahrung.html" %}

<h6>Negativ</h6>
{% set desc="Nenne uns eine negative Natur/Körper-Erfahrung: Fester, kalter Regen,
Schmerzen, die Angst zu Stürzen, Einsamkeit in und Unbeherrschbarkeit der
Natur, die Verletzlichkeit/Beherrschbarkeit des Körpers." %}
{% set text=user.nnature %}
{% set id="nnature" %}
{% set elabel="Negative Natur-Erfahrung" %}
{% include "forms/erfahrung.html" %}

<h4>Geist-Erfahrungen</h4>
<h6>Positiv</h6>
{% set desc="Nenne uns eine positive Geist-Erfahrung: Ein Buch, dass dich
fasziniert, ein Gedanke, der dich überrascht hat, vielleicht auch ein
Gespräch, eine Formel, ein Rätsel..." %}
{% set text=user.pspirit%}
{% set id="pspirit" %}
{% set elabel="Positive Geist-Erfahrung" %}
{% include "forms/erfahrung.html" %}

<h6>Negativ</h6>
{% set desc="Nenne uns eine negative Geist-Erfahrung: Eine schmerzende
Erkenntnis, die Erfahrung einer Grenze des eigenen Verstehens: sich selbst
getäuscht zu haben, verblendet gewesen zu sein — auch und
gerade durch vermeintliche Rationalität." %}
{% set text=user.nspirit%}
{% set id="nspirit" %}
{% set elabel="Negative Geist-Erfahrung" %}
{% include "forms/erfahrung.html" %}

<h4>Traum-Erfahrungen</h4>
<h6>Positiv</h6>
{% set desc="Nenne uns eine positive Traum-Erfahrung: Töte, stiehle schneller,
liebe so viel du magst, du hast keinen Namen, die Leichtigkeit mit der alles
geschieht ist ohne Maß. Alles ist nahe, die schlimmsten materiellen
Bedingungen sind großartig. Die Wälder sind weiß oder schwarz, M muss niemals
wachen. " %}
{% set text=user.pdream%}
{% set id="pdream" %}
{% set elabel="Positive Traum-Erfahrung" %}
{% include "forms/erfahrung.html" %}

<h6>Negativ</h6>
{% set desc="Nenne uns eine negative Traum-Erfahrungen: sterben, nicht
sprechen können, nie endende Realität." %}
{% set text=user.ndream%}
{% set id="ndream" %}
{% set elabel="Negative Traum-Erfahrungen" %}
{% include "forms/erfahrung.html" %}

<br>
<br>
<br>

<h2>Fragebogen</h2>
<p>Wir informieren dich, sobald der Fragebogen hochgeladen ist.</p>


<form action="/entry/{{user.key}}/delete-me/" method="post" style="margin-top:2em;">
  {% set label="delete me" %}
  {% set type="submit" %}
  {% include "forms/button.html" %}
</form>


{% endblock %}
