{% extends "layout.html" %}

{% block body %}

  <p class="small">Name: {{ me.mail }}@dost-2-0-fk.art</p>

  <h2>Secrets</h2>

  {% for secret in secrets %}
    <div class="secret-edit-container">
      <form
        action="{{ url_for('store_secret', key=user.key) }}"
        method="post"
      >
        {# Immutable identifier used to update this specific secret #}
        <input
          type="hidden"
          name="identifier"
          value="{{ secret.identifier }}"
        >

        <p class="small">
          Creator: {{ secret.creator }}
        </p>

        {% set label="Question" %}
        {% set field="question" %}
        {% set type="text" %}
        {% set title="Question belonging to this secret." %}
        {% set inp_value=secret.question %}
        {% include "forms/input.html" %}
        <br>

        {% set label="Answer" %}
        {% set field="answer" %}
        {% set type="text" %}
        {% set title="Answer belonging to this secret." %}
        {% set inp_value=secret.answer %}
        {% include "forms/input.html" %}
        <br>

        {% set label="Update secret" %}
        {% set type="submit" %}
        {% set onclick="" %}
        {% include "forms/button.html" %}
      </form>
    </div>

    {% if not loop.last %}
      <hr>
    {% endif %}
  {% else %}
    <p>No secrets have been stored yet.</p>
  {% endfor %}

  <hr>

  <h2>Add secret</h2>

  <div id="new_secret_container">
    <form
      action="{{ url_for('store_secret', key=user.key) }}"
      method="post"
    >
      {#
        No identifier is sent for new secrets.
        store_secret() creates it using __create_id().
      #}

      {% set label="Question" %}
      {% set field="question" %}
      {% set type="text" %}
      {% set title="Enter the question for the new secret." %}
      {% set inp_value="" %}
      {% include "forms/input.html" %}
      <br>

      {% set label="Answer" %}
      {% set field="answer" %}
      {% set type="text" %}
      {% set title="Enter the answer to the question." %}
      {% set inp_value="" %}
      {% include "forms/input.html" %}
      <br>

      {% set label="Create secret" %}
      {% set type="submit" %}
      {% set onclick="" %}
      {% include "forms/button.html" %}
    </form>
  </div>

{% endblock %}
