{% extends "layout.html" %} 
{% block body %}

<i>Press F4 for wider page view.</i>

<table class="table"> 
  <thead>
    <tr>
      <th scope="col">E-Mail</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Anwesend</th>
      <th scope="col">Erfahrungen</th>
      <th scope="col">Fragebogen</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for u in users %} 
      <tr>
        <td>{{u.email}}</td>
        <td>{{u.name if u.name != "" else "???"}}</td>
        <td>{{u.status if u.status != "" else "---"}}</td>
        <td>{{u.arrival if u.arrival != "" else "---"}}</td>
        <td>{{u.fragen}}</td>
        <td>{{u.tags}}</td>
        <td>
          {% if u.status == "Account Löschen" or u.status == "" %}
            <form action="/entry/{{u.key}}/delete-me/" method="post" style="margin-top:2em;">
              {% set label="delete" %}
              {% set type="submit" %}
              {% set onclick="" %}
              {% include "forms/button.html" %}
            </form>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

Anwesend: {{num_anwesend}}/{{users|length}}<br>
Erfahrungen: {{num_experiences}}/{{users|length}}<br>
Fragebogen: {{num_tags}}/{{users|length}}

{% endblock %}
