<table class="table table-bordered border-secondary" style="text-align: left; margin-top: 2em;">
  <tbody>
    <tr id="entry_{{entry.key}}">
      <td scope="col">
        {{entry.sirname}}
        <span class="table-hint">name</span>
      </td>
      <td scope="col">
        {{entry.name}}
        <span class="table-hint">Vorname</span>
      </td>
      <td scope="col">
        {{entry.maidenname}} 
        <span class="table-hint">geboren</span>
      </td>
      <td scope="col">
        {{entry.dob}} {{entry.dob_zr}}
        <span class="table-hint">Geburtsjahr</span>
      </td>
      <td scope="col">
        {{entry.gender}} 
        <span class="table-hint">Geschlecht</span>
      </td>
      <td scope="col" colspan="2">
        {{entry.zone}} 
        <span class="table-hint">Zone</span>
      </td>
    </tr>
    <tr>
      <td scope="col">
        {{entry.estimated_wealth}} 
        <span class="table-hint">Geschätzter Wohlstand</span>
      </td>
      <td scope="col">
        {{entry.violence_potential}} 
        <span class="table-hint">Gewaltpotenzial</span>
      </td>
      {% if "1.A" in entry.zone and "(E)" in entry.zone %}
        <td scope="col">
          {{entry.social_credits}} 
          <span class="table-hint">Soziale Bewertung</span>
        </td>
      {% endif %}
      <td scope="col" colspan="2">
        {% for gm in entry.genetic_augmentations %} 
          {% if loop.index != 1 %} 
            {{ ";" }}
          {% endif %}
          {% if gm in gms %}
            <span title="{{gm}}: {{gms[gm].name}} ({{gms[gm].desc}})">{{gm}}</span>
          {% else %}
            <span>{{gm}}</span>
          {% endif %}
        {% endfor %}
        <span class="table-hint">Genetisch Modifikationen</span>
      </td>
      <td scope="col" colspan="2">
        {% for cbi in entry.computer_brain_interfaces %} 
          {% if loop.index != 1 %} 
            {{ ";" }}
          {% endif %}
          {% if cbi in cbis %}
            <span title="{{cbi}}: {{cbis[cbi].name}} ({{cbis[cbi].desc}})">{{cbi}}</span>
          {% else %}
            <span>{{gm}}</span>
          {% endif %}
        {% endfor %}
        <span class="table-hint">Computer Brain Interfaces</span>
      </td>
    </tr>
    <tr>
      <td scope="col" colspan="3">
        {{ print_list(entry.crimes) }}
        <span class="table-hint">Straftaten</span>
      </td>
      <td scope="col" colspan="3">
        {{ print_list(entry.illnesses) }}
        <span class="table-hint">Krankheiten</span>
      </td>
    </tr>
    <tr>
      <td scope="col" colspan="3">
        {% for connection in entry.connections %}
          {% if loop.index != 1 %}; {% endif %}
          {% if connection in chars %}
            {% set cname, cinfo = chars[connection] %}
            <span title="{{cname}} [{{cinfo}}]"><u>{{cname}}</u></span>
          {% else %}
            {{connection}}
          {% endif %}
        {% endfor %}
        <span class="table-hint">Beziehungen</span>
      </td>
      <td scope="col" colspan="3">
        {{ print_list(entry.employers) }}
        <span class="table-hint">Arbeitgeber</span>
      </td>
    </tr>
    <tr>
      <td scope="col" colspan="6" style="white-space: pre-line;">
        {{ entry.background }}
        <span class="table-hint">Hintergrund</span>
      </td>
    </tr>
    <tr>
      <td scope="col" colspan="6" style="white-space: pre-line;">
        {{ entry.notes }}
        <span class="table-hint">Notizen</span>
      </td>
    </tr>
    {% if entry._creator == user.key %} 
      <tr>
        <td scope="col" colspan="6">

          <button class="btn btn-outline-secondary dropdown-toggle" type="button" 
            data-bs-toggle="dropdown" aria-expanded="false">+</button>
          <ul class="dropdown-menu">
            {% for id, tag in tags.items() %} 
              <li>
                <button 
                  class="dropdown-item" 
                  type="button" 
                  title="{{tag.desc}}"
                  onclick="AddTagToTags('{{entry.key}}', '{{tag.abbr}}');"
                >
                  <span>+ {{tag.abbr}}</span>
                </button>
              </li>
            {% endfor %}
            <li><hr class="dropdown-divider"></li>
            <li><button class="dropdown-item" type="button" data-bs-toggle="modal"
                data-bs-target="#tagsModal">Create New Tag</button></li>
          </ul>
          <span id="tags_{{entry.key}}" style="margin-left: 1em;">
            {% for tag in entry._tags %} 
              {%- if loop.index0 > 0 -%},{%- endif -%} 
              <span title="{{tags[tag].desc}}" 
                class="tag 
                  {% if tags[tag].hidden_for_all -%}tag_hidden_all{%- endif -%} 
                  {% if tags[tag].hidden_for_players -%}tag_hidden{%- endif -%} 
                  "
              >
                {{ tag }}
              </span>
            {% endfor %}
          </span>
          <span class="table-hint">Tags</span>
        </td>
      </tr>
    {% endif %}
  <tbody>
</table>

{% if allow_feedback %}

  {% if me.collective == "orga" and not entry._published %}
    {% set label="publish" %}
    {% set title="Orga only! Pubish to make visible for all editors regardless of block." %}
    {% set onclick="publish('" + entry.key + "');" %}
    {% include "forms/button.html" %}
  {% elif me.collective == "orga" and entry._published %}
    {% set label="un-publish" %}
    {% set title="Orga only! Pubish to make visible for all editors regardless of block." %}
    {% set onclick="un_publish('" + entry.key + "');" %}
    {% include "forms/button.html" %}
  {% endif %}

  {% if not get_user_from_key(entry._creator) %}
  <p>User not found! from key: {{entry._creator}}</p>
  {% else %}
    {% set user_creator = get_user_from_key(entry._creator) %}
    <p>Send feedback to: 
      <span
        class="small mail" 
        onclick="ToggleMailSender('{{entry.key}}');"
      >{{user_creator.mail}}@dost-2-0-fk.art</span>
    </p>
    <div id="send-mail-{{entry.key}}" style="display: none;">
      <form
        action="/communicate/{{user.key}}/send/{{me.mail}}/{{user_creator.mail}}?feedback_to={{entry.name}}" 
        method="post"
      >
        {% set label="Subject" %}
        {% set field="subject" %}
        {% set type="text" %}
        {% include "forms/input.html" %}

        {% set label="Your mail" %}
        {% set field="content" %}
        {% include "forms/textarea.html" %}

        {% set label="send" %}
        {% set type="submit" %}
        {% set onclick="" %}
        {% include "forms/button.html" %}
      </form>
      <br><br>
    </div>
  {% endif %}
{% endif %}

<div class="modal fade" id="tagsModal" tabindex="-1" aria-labelledby="tagsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tagsModalLabel">Neuen Tag hinzufügen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="tag_form" action="/secret/add/tag/" method="post"> 
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="tag" name="tag" id="tag" >
          </div>
          <label 
            for="desc" 
            class="form-label"
            title="Die Beschreibung ist auch für die Spieler*innen sichtbbar"
          >Beschreibung (Optional)</label>
          <div class="input-group mb-3">
             <textarea class="form-control" style="justify-content: left;" aria-label="desc" name="desc" id="desc">
            </textarea>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" 
                name="hiddenPlayers" id="hiddenPlayers" >
            <label class="form-check-label" for="hiddenAll" 
                title="Tag für Spieler*innen nicht sichtbar.">
              Hidden for Players only
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" name="hiddenAll" id="hiddenAll">
            <label class="form-check-label" for="hiddenAll" 
                title="Nur für dich, den Verteilungsalgorythmus und ggf. die Orga sichtbar">
              Hidden for Everyone
            </label>
          </div>
          <input hidden type="text" name="_creator" id="_creator" value="{{user.key}}">

          {% set label="create" %}
          {% set type="submit" %}
          {% set style="margin-top:1em;" %}
          {% set onclick="" %}
          {% include "forms/button.html" %}
        </form>
      </div>
    </div>
  </div>
</div>
